* {
	margin: 0;
	padding: 0;
}

html, body, #home {
  overflow-x: hidden;
}

/*---------------------------- NAVBAR ADJUSTMENT--------------------------------*/

.navbar {
  background: #17222D;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(187, 204, 221, 0.5);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: white;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: rgb(187, 204, 221);
}

.fa-dot-circle {
  color: white;
  margin: 0 10px;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
}

/*---------------------------- HEADER ADJUSTMENT--------------------------------*/

.bg-title {
  background: #EFF4F9;
}

.title {  
  margin: 40px auto;
  font-weight: 600;
  font-size: 50px;
}

/*---------------------------- HEADER ADJUSTMENT--------------------------------*/

 .name-email-cpf {
  margin-top: 65px;
 }

.letter-payment {
  margin-top: 15px;
  color: #1188EE;
  font-size: 1.2em;
}

.dividing-line {
  background: rgba(187, 204, 221, 0.4);
  width: 540px;
  height: 3px;
  margin: 10px auto;
  margin-bottom: 50px;
}

.information {  
  margin-bottom: 50px;
}


.mbt-10 {
  margin: 10px 0;
}



/*---------------------------- FORM ADJUSTMENT--------------------------------*/

.form-group .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #445566;
    background-color: #EFF4F9;
    background-clip: padding-box;
    border: 1px solid #EFF4F9;
    border-radius: .25rem;
    box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

label {
	color: #445566;
  font-size: 1.2em;
  font-weight: 600;
}

.btn-letter {
  text-transform: uppercase;
}

/*------------------------ ARROW SELECT ADJUSTMENT -------------------------*/

select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  width: 100%;
}

.select {  
  background: red url('../img/caret-down-solid.svg') 90% 50% no-repeat;
  background-size: 10px 50px; 
}


/*------------------------ PLACEHOLDER ADJUSTMENT----------------------------*/

.form-group .form-control::-webkit-input-placeholder {
   color: rgb(187, 204, 221);
}

.form-group .form-control:-moz-placeholder { /* Firefox 18- */
   color: rgb(187, 204, 221); 
}

.form-group .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(187, 204, 221);  
}

.form-group .form-control:-ms-input-placeholder {  
   color: rgb(187, 204, 221);
}

select:required:invalid {
	color: rgb(187, 204, 221);
}

option {
	color: #445566;
}

option:first-of-type {
	display: none;
}


/*--------------------------- FOOTER ADJUSTMENT------------------------------*/

footer {
  padding: 50px;
  color: rgb(199, 227, 251);
  font-size: 20px;
  font-weight: 300px;
}